

#menu-panel-wrapper {
    display: none;
}
#jp-title {
    display: none;
}
.lm-Widget.jp-CommandToolbarButton.jp-nb-interface-switcher-button.jp-Toolbar-item {
    display: none;
}

#main-panel {
    top: 82px !important;
}

body.jp-mod-theme-dark .jp-WindowedPanel-outer {
    background-color: rgb(243, 244, 246) !important;
}

body.jp-mod-theme-light .jp-WindowedPanel-outer {
    background-color: #171717 !important;
}