

#menu-panel-wrapper {
    display: none;
}

.lm-Widget.jp-CommandToolbarButton.jp-nb-interface-switcher-button.jp-Toolbar-item {
    display: none;
}

#main-panel {
    top: 42px !important;
}

.jp-WindowedPanel-outer {
    background-color: rgb(243,244,246) !important;
}